header {
  text-align: center;
  padding-top: 100px;
  padding-right: 160px;
  height: 100px;
  margin: 0 auto;
  background-color: aqua;
  font-size: 50px;
}
main {
  margin-top: 20px;
  display: inline-block;
  position: relative;
  width: 66% ;
  align-content: right;  
}
input {
  display: block;
  font-size: 20px;
}
.folder-back {
  margin-top: 10px;
  font-size: 20px;
}
#note-body {
  width: 70%;
  height:200px;
  font-size: 16px;
}

.sidebar {
  display: inline-block;
  position: relative;  
  width: 34%;
  margin-top: 30px;
  vertical-align: top;  
  align-items: center; 
}

.folder {
  margin: auto;
  border: solid black;
  border-width: 1px;
  text-align: center;
}
.addFolder {
  margin-top: 15px;
  position: relative;
  font-size: 20px;
  left: 35%;
}
.folderTitle {
  cursor: pointer;
}

.note {
  border: solid black;
  border-width: 1px;
  margin-left: 10px;
  padding-left: 20px;
  margin-top: 10px;
  width: 80%
}
.deleteButton {
  margin-left: 150px;
}
.noteTitle {
  cursor: pointer;
}

.highlight {
  background-color: cadetblue;
}
.error {
  text-align: center;
}